<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.responsive.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  
  </head>

  <body class="{{ page.title }}">
    <div class="navbar">
      <div class="navbar-inner" role="custom-dropdown">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        <input type="checkbox" id="button">
        <label for="button" onclick=""></label>
        <ul class="nav">  
          <li> <a class="home" href="{{ HOME_PATH }}">Home</a></li>
          <li> <a class="about" href="/about.html">About</a></li>
          <li> <a class="archive" href="/archive.html">Archive</a></li>
          <li> <a class="resources" href="/resources.html">Resources</a></li>
        </ul>
      </div>
    </div>

    <div class="page-header">
      <a href="{{ HOME_PATH }}" class="logo">
          <div class="icon"><img src="/assets/images/logo.png"/></div>
        <div class="name">
          <div class="title">OpenGenderTracking Project</div>
          <div class="tagline">Computationally Tracking Gender in News Content</div>
        </div>
      </a>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>

    </div> <!-- /container -->

    <footer>
      <p>
        Brought to you by <a href="http://bocoup.com/">Bocoup</a> and the <a href="http://civic.mit.edu/">MIT Center for Civic Media</a> with generous support of the <a href="http://knightfoundation.org/">Knight Foundation</a>
        | Find us on <a href="https://github.com/opengendertracking">Github</a>  
      </p>

    </footer>

    {% include JB/analytics %}
  </body>
</html>
